#gameContainer{
    text-align: center;
    
}
#gameBoard{
    border: 3px solid; 
    background-color: pink;
    
}
#scoreText{
    font-family: 'Silkscreen', sans-serif;
    font-size: 100px;
    
}
.gameButton{
    padding: 20px;
    font-size: 20px;
    background-color: pink;
    font-family: 'Silkscreen', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    /* display: inline-block;
    padding: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 28px; add this line */
}


@font-face {
    font-family: 'Silkscreen';
    src: url(slkscr.ttf);
}
